* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.prof {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 50px 0px;
  margin-bottom: 50px;
}

.prof_img img {
  width: 300px;
  height: 400px;
}

.user {
  margin-left: 30px;
}

.user p {
  padding: 10px;
  font-weight: bold;
}

.user_sur_name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: fit-content;
}

.user_name p {
  font-size: 45px;
  color: #8b0000;
}

.user_sur p {
  font-size: 45px;
  color: #8b0000;
}

.user_faculty {
  width: fit-content;
}

.user_faculty p {
  padding: 10px;
  font-size: 25px;
  color: #d16060;
}

.hearts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 200px;
  margin-top: 90px;
}

.hearts a {
  width: 230px;
  height: 200px;
  border: none;
  background-size: 300px;
  transition: 0.3s;
}

.hearts a:hover {
  border: none;
  transform: translateY(-20px);
  cursor: pointer;
}

.redHeart {
  background: url("../../images/red.svg") no-repeat center;
  margin: 20px 0;
}

.yellowishHeart {
  background: url("../../images/yellowish.svg") no-repeat center;
  margin: 20px 0;
}

.pinkHeart {
  background: url("../../images/pink.svg") no-repeat center;
  margin: 20px 0;
}

h2 {
  color: darkred;
}

.hearts b {
  width: 200px;
}

.hearts_count {
  font-size: 20px;
  color: darkred;
}

@media (max-width: 1380px) {
  .container {
    width: 1230px;
  }
  .prof_img img {
    width: 270px;
    height: 370px;
  }
  .user_sur_name p {
    font-size: 30px;
  }
  .hearts {
    width: 800px;
    height: 150px;
    margin-top: 70px;
  }
  .hearts a {
    width: 200px;
    height: 150px;
    background-size: 250px;
  }
}

@media (max-width: 1245px) {
  .container {
    width: 1150px;
  }
  .prof_img img {
    width: 250px;
    height: 350px;
  }
  .user_sur_name p {
    font-size: 30px;
  }
  .hearts {
    width: 750px;
    height: 150px;
    margin-top: 70px;
  }
  .hearts a {
    width: 180px;
    height: 150px;
    background-size: 250px;
  }
}

@media (max-width: 1150px) {
  .container {
    width: 1000px;
  }
  .prof_img img {
    width: 230px;
    height: 330px;
  }
  .user_sur_name p {
    font-size: 30px;
  }
  .hearts {
    width: 670px;
    height: 150px;
    margin-top: 50px;
  }
  .hearts a {
    width: 150px;
    height: 130px;
    background-size: 200px;
  }
  .hearts b, .hearts p {
    font-size: 15px;
  }
}

@media (max-width: 1030px) {
  .container {
    width: 950px;
  }
  .prof_img img {
    width: 230px;
    height: 330px;
  }
  .user_sur_name p {
    font-size: 30px;
  }
  .hearts {
    width: 680px;
    height: 150px;
    margin-top: 50px;
  }
  .hearts a {
    width: 150px;
    height: 130px;
    background-size: 200px;
  }
  .hearts b, .hearts p {
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  .container {
    width: 850px;
  }
  .prof {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 200px;
    height: 300px;
  }
  .user_sur_name p {
    font-size: 25px;
  }
  .user_faculty p {
    font-size: 18px;
  }
  .hearts {
    width: 550px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 130px;
    height: 120px;
    background-size: 170px;
  }
  .hearts b, .hearts p {
    font-size: 14px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .container {
    width: 750px;
  }
  .user {
    margin-left: 15px;
  }  
  .prof {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 180px;
    height: 250px;
  }
  .user_sur_name p {
    font-size: 25px;
    margin-bottom: -10px;
  }
  .user_faculty p {
    font-size: 18px;
  }
  .hearts {
    width: 550px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 130px;
    height: 120px;
    background-size: 170px;
  }
  .hearts b, .hearts p {
    font-size: 14px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .container {
    width: 680px;
  }
  .user {
    margin-left: 15px;
  }  
  .prof {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 180px;
    height: 250px;
  }
  .user_sur_name p {
    font-size: 25px;
    margin-bottom: -10px;
  }
  .user_faculty p {
    font-size: 18px;
  }
  .hearts {
    width: 470px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 130px;
    height: 120px;
    background-size: 150px;
  }
  .hearts b, .hearts p {
    font-size: 12px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .container {
    width: 610px;
  }
  .user {
    margin-left: 10px;
  }  
  .prof {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 150px;
    height: 230px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
  }
  .hearts {
    width: 400px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 130px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .container {
    width: 550px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name {
    margin-left: -25px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 450px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 130px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .container {
    width: 550px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 450px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 130px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .container {
    width: 550px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 450px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 130px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 150px;
    text-align: center;
  }
}

@media (max-width: 542px) {
  .container {
    width: 400px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 450px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 130px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 150px;
    text-align: center;
  }
  
}

@media (max-width: 450px) {
  .container {
    width: 350px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 370px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 120px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 120px;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .container {
    width: 280px;
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .prof {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 290px;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .prof_img img {
    width: 140px;
    height: 200px;
  }
  .user_sur_name p {
    font-size: 18px;
    margin-bottom: -10px;
    width: 85px;
  }
  .user_faculty p {
    font-size: 13px;
    margin-bottom: -16px; 
  }
  .hearts {
    width: 300px;
    height: 150px;
    margin-top: 30px;
  }
  .hearts a {
    width: 100px;
    height: 80px;
    background-size: 100px;
  }
  .hearts b, .hearts p {
    font-size: 11px;
    width: 60px;
    text-align: center;
  }
}