* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.prof {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 5px;
    padding: 50px 0px;
}

.prof_img img{
    width: 350px;
    height: 450px;
}

.user {
    margin-left: 30px;
}

.user p {
    padding: 10px;
    font-weight: bold;
}

.user_sur_name {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 400px;   
}

.user_name p {
    font-size: 60px;
    color: #8B0000;
}

.user_sur p {
    font-size: 60px;
    color: #8B0000;
}

.user_faculty {
    width: 160px;
}

.user_faculty p {
    padding: 10px;
    font-size: 30px;
    color: #D16060;
}

.hearts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 200px;
}

.hearts a {
    width: 230px;
    height: 200px;
    background-size: 300px;
    transition: .3s;
}

.hearts a:hover {
    transform: translateY(-20px);
}

.redHeart {
    background: url("../../images/red.svg") no-repeat center;
}

.yellowishHeart {
    background: url("../../images/yellowish.svg") no-repeat center;
}

.pinkHeart {
    background: url("../../images/pink.svg") no-repeat center;
}